<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="images.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=divice,initial-scale">
</head>

<body>
    <h1>Responsive Image~</h1>
    <h3>Images are used for good design and also used to display infromation viually.
    </h3>
    <img class="responsive-picture" src="card.jpg " alt=" ">
    <div class=" ">
        <h1>Round Image~</h1>
        <p>
            <h3>This is a round image. It is shaped like a circle, usually used to display user profile.</h3>
        </p>
        <div class="image-container "></div>
        <div class="round ">
            <img src="dhoni.jpg " alt=" ">
        </div>
    </div>
</body>

</html>