<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="typography.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <h1>Typography</h1>
    <h3>
        The below text utilitites can be used to make your project look awesome.</h3>
    <div class="headings-container">
        <div class="Headings">
            <h1>Heading-1</h1>
            <h2>Heading-2</h2>
            <h3>Heading-3</h3>
            <h4>Heading-4</h4>
            <h5>Heading-5</h>
        </div>
    </div>
    <h3>Example of Other Text Styles
    </h3>
    <div class="text-container">
        <div class="Texts">
            <div class="small-text">
                This is small text</div>
            <div class="medium-text">
                This is Medium text
            </div>
            <div class="large-text">
                This is Large Text
            </div>
        </div>
        <div class="strike-Text">
            <p><s>Text Strike Example!</s></p>
        </div>
        <div class="center-text">
            Example of centered text
        </div>
        <div class="primary-color">
            Example of text with primary color
        </div>
        <div class="secondary-color">
            Example of text with secondary color
        </div>
    </div>
</body>

</html>