<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="button.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Buttons</h1>
    <h2>
        Buttons provide cues for actions and events. These fundamental components allow users to process actions or navigate an experience.You can copy html part from below code snippet.</h2>
    <h3>Example of Outline Buttons</h3>
    <div class="Outline-Buttons">
        <div class="primary-button">Primary</div>
        <div class="secondary-button">Secondary</div>
        <div class="success-button">Success</div>.
        <div class="warning-button">Warning</div>
        <div class="danger-button">Danger</div>
    </div>
    <h2>Example of Solid Buttons</h2>
    <div class="Outline-Buttons">
        <div class="button-solid-primary">Primary</div>
        <div class="button-solid-secondary">Secondary</div>
        <div class="button-solid-success">Success</div>
        <div class="button-solid-warning">Warning</div>
        <div class="button-solid-danger">Danger</div>
    </div>

    <h2>Example of Buttons with icons and floating button</h2>
    <div class="Outline-Buttons">
        <div class="button-solid-success">
            <span>Verified</span>
            <span class="material-icons-outlined">
   verified
   </span>

        </div>
        <div class="button-solid-warning">
            <span>Warning</span>
            <span class="material-icons-outlined">
   warning_amber
   </span>

        </div>
        <div class="button-solid-danger">
            <span>Dangerous</span>
            <span class="material-icons-outlined">
   dangerous
   </span>
        </div>
        <div class="floating-btn">
            <span class="material-icons-outlined">
   add
   </span>
        </div>
        <script src="script.js"></script>
</body>

</html>