<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grids</title>
    <link href="grids.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Example of 3 items in a Grid</h1>
    <div class="grid-container">
        <div class="items">
            <img class="img1" src="tshirt.jpg" alt="tshirt">
        </div>
        <div class="items">
            <img class="img1" src="tshirt.jpg" alt="tshirt"></div>
        <div class="items">
            <img class="img1" src="tshirt.jpg" alt="tshirt"></div>
    </div>
    <h1>Example of 2 items in a Grid</h1>
    <div class="grid2-container">
        <div class="items2">
            <img class="image" src="tshirt.jpg" alt="thsirt">
        </div>
        <div class="items2">
            <img class="image" src="tshirt.jpg" alt="tshirt"></div>

    </div>
</body>

</html>