<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="avatar.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Avatar</h1>
    <h3>Avatar are rounded images used to display user profile.</h3>
    <h4>There are three types of Avatars available each with different size. In the Image tag use avatar class along with the size you need eg- av-s for small avatar, av-m for medium avatar, av-l for large avatars.</h4>
    <div class="avatar-container">
        <div class="small">
            <img src="dhoni.jpg" alt="#">
        </div>
        <div class="medium">
            <img src="dhoni.jpg" alt="">
        </div>
        <div class="large">
            <img src="dhoni.jpg" alt="">
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>