<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
    <link href="ratings.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="ratings">
        <input type="radio" name="rating" class="rating-1"><label for="star-1"></label>
        <input type="radio" name="rating" class="rating-2"><label for="star-2"></label>
        <input type="radio" name="rating" class="rating-3"><label for="star-3"></label>
        <input type="radio" name="rating" class="rating-4"><label for="star-4"></label>
        <input type="radio" name="rating" class="rating-5"><label for="star-5"></label>
    </div>
</body>

</html>