<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Slider</title>
</head>

<body>

    <h2>Example of slider with disabled</h2>
    <div>
        <span class="material-icons-outlined">
    volume_up
    </span>
        <input class="slider" type="range" min="0" max="5000" value="50" disabled>
        <h2>Example of slider with Icon</h2>
    </div>
    <span class="material-icons-outlined">
    volume_up
    </span>
    <input class="slider" type="range" min="0" max="5000" value="50">
    </div>
</body>

</html>