<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="toast.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Toast</h1>
    <h3>Toasts are used to show pop up messages to the user. We have 3 types of toasts, success toast, warning toast, error toast.
    </h3>
    <div class="container-Toast ">
        <div class="success-Toast ">
            <p>Changes Saved</p>
        </div>
        <div class="error-Toast ">
            <p>Error Has Occurred</p>
        </div>
        <div class="warning-Toast ">
            <p>Just A Warning</p>
        </div>
    </div>
</body>

</html>