<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="list.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <h1>Lists</h1>
    <h3>
        Lists are used in various places such as navigation bar, article page etc</h3>
    <p>We have 4 types of lists the default one than the list with circular bullets, list with square bullets and list with no bullets.</p>
    <div class="unorder-container ">
        <div class="unorderlist ">
            </ul>
            <ul class="list-style-disc ">
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
            <ul class="list-style-circle ">
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
            <ul class="list-style-square ">
                <li>Coffee</li>
                <li>Te@</li>
                <li>Milk</li>
            </ul>
            <ul class="list-style-none ">
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
            </ul>
        </div>
    </div>
    <hr>
    <h3>Example of Ordered Lists</h3>
    <p>We have 4 types of lists the default one than the list with circular bullets, list with square bullets and list with no bullets.</p>
    <div class="orderlist-container ">
        <div class="orderlist ">
            <ol class="upper-alpha ">
                <li>List item with upper alphabets</li>
                <li>List item with upper alphabets</li>
                <li>List item with upper alphabets</li>
            </ol>
            <ol class="lower-alpha ">
                <li>List item with lower alphabets</li>
                <li>List item with lower alphabets</li>
                <li>List item with lower alphabets</li>
            </ol>
            <ol class="upper-roman ">
                <li>List item with upper roman</li>
                <li>List item with upper roman</li>
                <li>List item with upper roman</li>
            </ol>
            <ol class="lower-roman ">
                <li>List item with lower roman</li>
                <li>List item with lower roman</li>
                <li>List item with lower roman</li>
            </ol>
        </div>
    </div>

    <hr>
    <h3>Example of Inline Lists</h3>
    <div class=" inline-list-container ">
        <ul class="inline-list ">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
        </ul>
    </div>
</body>

</html>