.badge-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid blue;
    width: 27rem;
}

.profile {
    position: relative;
}

.profile img {
    height: 6rem;
    width: 6rem;
    border-radius: 12rem;
}

.profile {
    border: 2px solid blue;
    border-radius: 5rem;
    height: 6rem;
    width: 6rem;
}

.profile-status {
    position: absolute;
    border: 9px solid green;
    border-radius: 6rem;
    bottom: 7px;
    right: 7px;
}

.icon {
    margin-top: 2rem;
    display: block;
    position: relative;
}

.icon-status {
    position: absolute;
    border: 3px solid blue;
    border-radius: 6rem;
    bottom: 3rem;
    left: 1.3rem;
}