<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link href="modal.css" rel="stylesheet" type="text/css" />
    <script defer src="modal.js"></script>
</head>

<body>
    <div class="btn-modal">
        <button class="open-modal">Click me</button></div>
    <div class="modal-overlay" </div>
        <div class="modal">
            <h1>modal </h1>
            <button class="close">&times;</button>
        </div>
    </div>
</body>

</html>