<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="alerts.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="Alerts-container">
        <h1>Alerts</h1>
        <h3>Alerts are used to attract user's attention for important information without interrupting the user's flow.
        </h3>
        <h3>
            Example of Alert Bar without close button</h3>
        <p>Alerts are available in 4 types fail alert ,success alert , warning alert,primary alert. You can copy html part from below code snippet.

        </p>
        <h2>Fail Alert</h2>

        <div class="fail-alert">
            <div class="text">
                <p>This is an Fail alert — check it out!!!!!</p>
            </div>
        </div>
    </div>
    <h2>Warning Alert</h2>
    <div class="warning-alert" class="alert-msg ">
        <div class="text">
            <p>This is an Warning alert — check it out!!!!!</p>
        </div>
    </div>
    </div>
    <h2>Success Alert</h2>
    <div class="success-alert" class="alert-msg">
        <div class="text">
            <p> This is an Success alert — check it out!!!!!</p>
        </div>
    </div>
    <h2>Primary Alert</h2>
    <div class="primary-alert" class="alert-msg ">
        <div class="Alerts-container"></div>
        <div class="text">
            <p>This is an Primary Alert — check it out!!!!!</p>
        </div>
    </div>
    </div>
    </div>
    <script src="script.js"></script>
</body>

</html>