.input-box {
    margin-bottom: 1rem;
    height: 9rem;
    width: 34rem;
    border: 2px solid black;
    box-shadow: 0px 5px 3px 0px #a6a6a6;
}

.text1 {
    width: 32rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid grey;
}

.text2 {
    margin-bottom: 1rem;
    width: 32rem;
    height: 2rem;
    border: 2px solid gray;
}

.validation-box {
    height: 14rem;
    width: 37rem;
    border: 2px solid black;
}

.success-input {
    width: 33rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: 2px solid darkgreen;
    color: black;
}

.warning-input {
    width: 33rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: 2px solid orange;
    color: black;
}

.error-input {
    color: black;
    width: 33rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: 2px solid red;
}