<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="inputs.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Inputs</h2>
    <div class="inputs-container">
        <div class="input-box">
            <input class="text1" type="text" placeholder="email">
            <input class="text2" type="text" placeholder="Username">
        </div>
    </div>
    <div class="validation-box">
        <h3>Example of Inputs with Validation</h3>
        <div class=" Success-box ">
            <input class="success-input " type="text " placeholder="Success Box ">
        </div>
        <div class="Warning-box ">
            <input class="warning-input " type="text " placeholder="Warn Box ">
        </div>
        <div class="Error-input ">
            <input class="error-input " type="text " placeholder="Error Box ">
        </div>
    </div>
    <script src="script.js "></script>
</body>

</html>