<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="nav.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1>Navigation</h1>
    <h4>Navigation is used to tarvel between different web pages in your website.</h4>
    <nav>
        <a class="active" href="#">MyStore</a>
        <input class="search-bar" type="text" placeholder="Search">
        <a href="#">Cart<span class="material-icons-outlined">
                shopping_cart
              </span>
                  </a>
        <a href="">WhishList<span class="material-icons-outlined">
           favorite_border
            </span>
              </a>
        <a href="#">Login</a>
    </nav>
</body>

</html>