<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="form.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="login-container">
        <form action="" class="login-form">
            <h1 class="login-heading">Account Login</h1>
            <div>
                <label for="">Username</label>
                <input placeholder="useremail.com" class="input-box" type="text">
            </div>
            <div>
                <label for="">Password</label>
                <input placeholder="******" class="input-box" type="password">
                <div>
                    <input class="btn" type="button" value="Login">
                </div>
                <div class="checkbox">
                    <input type="checkbox">
                    <span>Remember Me</span>
                </div>
                <div class="sign-in">
                    <a href="">New to Apna Store? Create an account</a>
                </div>
        </form>
        </div>
        <script src="script.js"></script>
</body>

</html>